<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Administración en Empresa Comercial</h2> 
                <h2>Motos Roldan/ San Juan/ 2010-2019</h2>
            </li>
            <p>Desempeño de tareas administrativas en empresa comercial, dedicada a la venta de motovehiculos, como: registraciones contables y facturación.
                Gestoria: Inscripción y patentamientos en Registros de motovehiculos.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Contadora</h2>
                <h2>2019-Actualidad</h2>
            </li>
            <p>Operaciones contables, tales como: Monotributo, Facturación, Liquidación de Ganancias.
            </p>
        </ul>
    </div>
</div>
