<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80" 
    [radius]="100" 
    [showUnits]="false"
    [title]="'Desarrollo Web'"
    [titleColor]="'blueviolet'"
    [titleFontSize]="'20px'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blueviolet'"
    [innerStrokeColor]="'blueviolet'" 
    [animation]="true" 
    [animationDuration]="900">
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="80" 
        [radius]="100" 
        [showUnits]="false" 
        [title]="'Anális de Datos'" 
        [titleColor]="'blueviolet'"
        [titleFontSize]="'20px'" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blueviolet'" 
        [innerStrokeColor]="'blueviolet'" 
        [animation]="true"
        [animationDuration]="900">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="75" 
        [radius]="100" 
        [showUnits]="false" 
        [title]="'Inglés'" 
        [titleColor]="'blueviolet'"
        [titleFontSize]="'20px'" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blueviolet'" [innerStrokeColor]="'blueviolet'" [animation]="true"
        [animationDuration]="900">
        </circle-progress>
    </div><div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="100" 
        [radius]="100" 
        [showUnits]="false" 
        [title]="'Blockchain'" 
        [titleColor]="'blueviolet'"
        [titleFontSize]="'20px'" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blueviolet'" 
        [innerStrokeColor]="'blueviolet'" 
        [animation]="true"
        [animationDuration]="900">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="95" 
        [radius]="100" 
        [showUnits]="false" 
        [title]="'Emprendimiento'" 
        [titleColor]="'blueviolet'"
        [titleFontSize]="'20px'" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blueviolet'"
        [innerStrokeColor]="'blueviolet'"
        [animation]="true"
        [animationDuration]="900">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
        [percent]="100" 
        [radius]="100" 
        [showUnits]="false"
        [title]="'Trabajo en equipo'"
        [titleColor]="'blueviolet'"
        [titleFontSize]="'20px'" 
        [showSubtitle]="false" 
        [outerStrokeWidth]="16" 
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blueviolet'" 
        [innerStrokeColor]="'blueviolet'" 
        [animation]="true"
        [animationDuration]="900">
        </circle-progress>
    </div>
</div>

